<web-app>
    <servlet>
        <servlet-name>User View Servlet</servlet-name>
        <servlet-class>servlets.EchoServlets.UsersController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>User View Servlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserCreateServlet</servlet-name>
        <servlet-class>servlets.EchoServlets.UserCreateServlet</servlet-class>

    </servlet>

    <servlet-mapping>
        <servlet-name>UserCreateServlet</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
</web-app>